<table>
  <tbody>
  <tr>
    <th>Google Classroom Service Address</th>
    <td>
      <input type="text" id="settings_classroom_url"
             value="<%= settings['classroom_url'] %>"
             name="settings[classroom_url]" >
    </td>
  </tr>
  </tbody>
</table>